<a href="https://colab.research.google.com/github/bootycurry/eda-assessment/blob/main/22BDS0142.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Course Project
**Name:** Harshit Vootukuri <br />
**Registration Number:** 22BDS0142 <br />

## Module 1
**Date:** 9th August, 2025

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Importing Dataset

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/salemprakash/EDA/main/Data/HepatitisCdata.csv")
df.head()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [3]:
df.tail()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
610,611,3=Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,3=Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,3=Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,614,3=Cirrhosis,46,f,33.0,NaN,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,615,3=Cirrhosis,59,f,36.0,NaN,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

### Dimensions of The Dataset

In [4]:
df.shape

(615, 14)

In [5]:
df.columns

Index(['Unnamed: 0', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST',
       'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

### Analyzing The Types of data in The Dataset

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  615 non-null    int64
 1   Category    615 non-null    object
 2   Age         615 non-null    int64
 3   Sex         615 non-null    object
 4   ALB         614 non-null    float64
 5   ALP         597 non-null    float64
 6   ALT         614 non-null    float64
 7   AST         615 non-null    float64
 8   BIL         615 non-null    float64
 9   CHE         615 non-null    float64
 10  CHOL        605 non-null    float64
 11  CREA        615 non-null    float64
 12  GGT         615 non-null    float64
 13  PROT        614 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 67.4+ KB

From this we understand that `Category` and `Sex` are non numerical values. Now we can check if they are categorical attributes.

In [7]:
df.Category.value_counts()

Category
0=Blood Donor             533
3=Cirrhosis                30
1=Hepatitis                24
2=Fibrosis                 21
0s=suspect Blood Donor      7
Name: count, dtype: int64

In [8]:
df.Sex.value_counts()

Sex
m    377
f    238
Name: count, dtype: int64

#### Summary
from the code run in above cells we can conclude the following points:
- The dataset contains all numerical attributes except `Category` and `Sex`.
- The attributes `Category` and `Sex` are **Nominal Categorical** data.

## Module 2
**Date:** 10th August, 2025

### Data Transformation Techniques
#### 1. Data Cleaning

In [9]:
df.head(3)

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3

From this dataset it is eveident that the first column `Unnamed: 0` is an index column which is not useful for analysis. Hence this column can be dropped.

In [10]:
df = df.drop("Unnamed: 0", axis=1)
df.head(3)

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3

#### 2. Data Deduplication
This process involves checking and handling of duplicate values in the dataset.

In [11]:
df.duplicated().value_counts()

False    615
Name: count, dtype: int64

From this result, we can confirm that none of the rows are duplicated in the dataset.

#### 3. Replacing Values

In [12]:
replace_df = df.copy()

replace_df.Sex.value_counts()

Sex
m    377
f    238
Name: count, dtype: int64

In [13]:
replace_df.replace(to_replace="m", value=0, inplace=True)
replace_df.replace(to_replace="f", value=1, inplace=True)
replace_df.Sex.value_counts()

/tmp/ipython-input-628216859.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  replace_df.replace(to_replace="f", value=1, inplace=True)

Sex
0    377
1    238
Name: count, dtype: int64

#### 4. Handling Missing Data

Let us look at the various techniques used to check for missing data in the dataframe.

In [14]:
df.isnull()

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,True,False,False,False,False,False,False,False,False
614,False,False,False,False,True,False,False,False,False,False,False,False,False

Let us get the count of missing values per attribute and the total count of missing values.

In [15]:
print(df.isnull().sum())


print("\n\nTotal missing values in the dataset:", df.isnull().sum().sum())

Category     0
Age          0
Sex          0
ALB          1
ALP         18
ALT          1
AST          0
BIL          0
CHE          0
CHOL        10
CREA         0
GGT          0
PROT         1
dtype: int64


Total missing values in the dataset: 31

Handling Missing values in `ALB`:

In [16]:
cleaned_df = df.copy()

alb_null_indices = cleaned_df[cleaned_df['ALB'].isnull()].index
cleaned_df.loc[alb_null_indices]

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
603,3=Cirrhosis,65,m,NaN,NaN,40.0,54.0,13.0,7.5,NaN,70.0,107.0,79.0

In [17]:
alb_mean = cleaned_df['ALB'].mean()
cleaned_df['ALB'] = cleaned_df['ALB'].fillna(alb_mean) # filling the null values with mean

cleaned_df.loc[alb_null_indices]

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
603,3=Cirrhosis,65,m,41.620195,NaN,40.0,54.0,13.0,7.5,NaN,70.0,107.0,79.0

Handling missing values in `ALP`:

In [18]:
alp_null_indices = cleaned_df[cleaned_df['ALP'].isnull()].index
cleaned_df.loc[alp_null_indices]

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
541,1=Hepatitis,19,m,41.000000,NaN,87.0,67.0,12.0,7.55,3.9,62.0,65.0,75.0
545,1=Hepatitis,29,m,49.000000,NaN,53.0,39.0,15.0,8.79,3.6,79.0,37.0,90.0
546,1=Hepatitis,30,m,45.000000,NaN,66.0,45.0,14.0,12.16,6.1,86.0,43.0,77.0
568,2=Fibrosis,49,m,39.000000,NaN,118.0,62.0,10.0,7.28,3.5,72.0,74.0,81.0
569,2=Fibrosis,49,m,46.000000,NaN,114.0,75.0,16.0,10.43,5.2,72.0,59.0,82.0
570,2=Fibrosis,50,m,42.000000,NaN,258.0,106.0,15.0,8.74,4.7,77.0,80.0,84.0
571,2=Fibrosis,53,m,46.000000,NaN,34.0,43.0,14.0,8.77,4.0,112.0,203.0,76.0
576,2=Fibrosis,71,m,37.000000,NaN,130.0,90.0,15.0,9.92,4.7,79.0,77.0,76.0
581,2=Fibrosis,49,f,39.000000,NaN,46.0,39.0,9.0,10.21,3.1,89.0,53.0,79.0
582,2=Fibrosis,51,f,37.000000,NaN,164.0,70.0,9.0,3.99,4.2,67.0,43.0,72.0
583,2=Fibrosis,56,f,39.000000,NaN,42.0,34.0,10.0,7.75,5.0,80.0,84.0,78.0
584,2=Fibrosis,75,f,36.000000,NaN,114.0,125.0,14.0,6.65,NaN,57.0,177.0,72.0
585,3=Cirrhosis,38,m,44.000000,NaN,94.0,60.0,12.0,4.37,3.2,61.0,99.0,77.0
590,3=Cirrhosis,46,m,20.000000,NaN,62.0,113.0,254.0,1.48,NaN,114.0,138.0,NaN
592,3=Cirrhosis,47,m,42.000000,NaN,159.0,102.0,11.0,6.29,5.5,58.0,201.0,79.0
603,3=Cirrhosis,65,m,41.620195,NaN,40.0,54.0,13.0,7.50,NaN,70.0,107.0,79.0
613,3=Cirrhosis,46,f,33.000000,NaN,39.0,62.0,20.0,3.56,4.2,52.0,50.0,71.0
614,3=Cirrhosis,59,f,36.000000,NaN,100.0,80.0,12.0,9.07,5.3,67.0,34.0,68.0

In [19]:
cleaned_df['ALP'] = cleaned_df['ALP'].ffill() # Filling the missing values using forward fill

cleaned_df.loc[alp_null_indices]

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
541,1=Hepatitis,19,m,41.000000,56.3,87.0,67.0,12.0,7.55,3.9,62.0,65.0,75.0
545,1=Hepatitis,29,m,49.000000,27.5,53.0,39.0,15.0,8.79,3.6,79.0,37.0,90.0
546,1=Hepatitis,30,m,45.000000,27.5,66.0,45.0,14.0,12.16,6.1,86.0,43.0,77.0
568,2=Fibrosis,49,m,39.000000,45.2,118.0,62.0,10.0,7.28,3.5,72.0,74.0,81.0
569,2=Fibrosis,49,m,46.000000,45.2,114.0,75.0,16.0,10.43,5.2,72.0,59.0,82.0
570,2=Fibrosis,50,m,42.000000,45.2,258.0,106.0,15.0,8.74,4.7,77.0,80.0,84.0
571,2=Fibrosis,53,m,46.000000,45.2,34.0,43.0,14.0,8.77,4.0,112.0,203.0,76.0
576,2=Fibrosis,71,m,37.000000,35.7,130.0,90.0,15.0,9.92,4.7,79.0,77.0,76.0
581,2=Fibrosis,49,f,39.000000,22.9,46.0,39.0,9.0,10.21,3.1,89.0,53.0,79.0
582,2=Fibrosis,51,f,37.000000,22.9,164.0,70.0,9.0,3.99,4.2,67.0,43.0,72.0
583,2=Fibrosis,56,f,39.000000,22.9,42.0,34.0,10.0,7.75,5.0,80.0,84.0,78.0
584,2=Fibrosis,75,f,36.000000,22.9,114.0,125.0,14.0,6.65,NaN,57.0,177.0,72.0
585,3=Cirrhosis,38,m,44.000000,22.9,94.0,60.0,12.0,4.37,3.2,61.0,99.0,77.0
590,3=Cirrhosis,46,m,20.000000,11.3,62.0,113.0,254.0,1.48,NaN,114.0,138.0,NaN
592,3=Cirrhosis,47,m,42.000000,109.6,159.0,102.0,11.0,6.29,5.5,58.0,201.0,79.0
603,3=Cirrhosis,65,m,41.620195,102.9,40.0,54.0,13.0,7.50,NaN,70.0,107.0,79.0
613,3=Cirrhosis,46,f,33.000000,87.3,39.0,62.0,20.0,3.56,4.2,52.0,50.0,71.0
614,3=Cirrhosis,59,f,36.000000,87.3,100.0,80.0,12.0,9.07,5.3,67.0,34.0,68.0

Handling missing values in `ALT`

In [20]:
alt_null_indices = cleaned_df[cleaned_df['ALT'].isnull()].index
cleaned_df.loc[alt_null_indices]

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
540,1=Hepatitis,38,m,45.0,56.3,NaN,33.1,7.0,9.58,6.0,77.9,18.9,63.0

In [21]:
cleaned_df = cleaned_df.dropna(subset=['ALT']) # dropping the row with null values in ALT

print("\nDataFrame shape after dropping rows with null ALT values:")
print(cleaned_df.shape)
print("\nChecking if any null values are left in ALT column:")
print(cleaned_df['ALT'].isnull().sum())

DataFrame shape after dropping rows with null ALT values:
(614, 13)

Checking if any null values are left in ALT column:
0

Handling missing values in `CHOL` and `PROT`:

In [22]:
chol_null_indices = cleaned_df[cleaned_df['CHOL'].isnull()].index
prot_null_indices = cleaned_df[cleaned_df['PROT'].isnull()].index

print("DataFrame section with null CHOL values:")
cleaned_df.loc[chol_null_indices]

DataFrame section with null CHOL values:

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
121,0=Blood Donor,43,m,48.600000,45.0,10.5,40.5,5.3,7.09,NaN,63.0,25.1,70.0
319,0=Blood Donor,32,f,47.400000,52.5,19.1,17.1,4.6,10.19,NaN,63.0,23.0,72.2
329,0=Blood Donor,33,f,42.400000,137.2,14.2,13.1,3.4,8.23,NaN,48.0,25.7,74.4
413,0=Blood Donor,46,f,42.900000,55.1,15.2,29.8,3.6,8.37,NaN,61.0,29.0,71.9
424,0=Blood Donor,48,f,45.600000,107.2,24.4,39.0,13.8,9.77,NaN,88.0,38.0,75.1
433,0=Blood Donor,48,f,46.800000,93.3,10.0,23.2,4.3,12.41,NaN,52.0,23.9,72.4
498,0=Blood Donor,57,f,48.400000,94.4,2.5,39.6,2.3,8.84,NaN,82.0,6.4,76.8
584,2=Fibrosis,75,f,36.000000,22.9,114.0,125.0,14.0,6.65,NaN,57.0,177.0,72.0
590,3=Cirrhosis,46,m,20.000000,11.3,62.0,113.0,254.0,1.48,NaN,114.0,138.0,NaN
603,3=Cirrhosis,65,m,41.620195,102.9,40.0,54.0,13.0,7.50,NaN,70.0,107.0,79.0

In [23]:
print("\nDataFrame section with null PROT values:")
cleaned_df.loc[prot_null_indices]

DataFrame section with null PROT values:

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
590,3=Cirrhosis,46,m,20.0,11.3,62.0,113.0,254.0,1.48,NaN,114.0,138.0,NaN

In [24]:
chol_mean = cleaned_df['CHOL'].mean()
prot_mean = cleaned_df['PROT'].mean()

cleaned_df['CHOL'] = cleaned_df['CHOL'].fillna(chol_mean) # filling with mean
cleaned_df['PROT'] = cleaned_df['PROT'].bfill() # backward fill

In [25]:
print("DataFrame after filling null CHOL values:")
cleaned_df.loc[chol_null_indices]

DataFrame after filling null CHOL values:

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
121,0=Blood Donor,43,m,48.600000,45.0,10.5,40.5,5.3,7.09,5.367053,63.0,25.1,70.0
319,0=Blood Donor,32,f,47.400000,52.5,19.1,17.1,4.6,10.19,5.367053,63.0,23.0,72.2
329,0=Blood Donor,33,f,42.400000,137.2,14.2,13.1,3.4,8.23,5.367053,48.0,25.7,74.4
413,0=Blood Donor,46,f,42.900000,55.1,15.2,29.8,3.6,8.37,5.367053,61.0,29.0,71.9
424,0=Blood Donor,48,f,45.600000,107.2,24.4,39.0,13.8,9.77,5.367053,88.0,38.0,75.1
433,0=Blood Donor,48,f,46.800000,93.3,10.0,23.2,4.3,12.41,5.367053,52.0,23.9,72.4
498,0=Blood Donor,57,f,48.400000,94.4,2.5,39.6,2.3,8.84,5.367053,82.0,6.4,76.8
584,2=Fibrosis,75,f,36.000000,22.9,114.0,125.0,14.0,6.65,5.367053,57.0,177.0,72.0
590,3=Cirrhosis,46,m,20.000000,11.3,62.0,113.0,254.0,1.48,5.367053,114.0,138.0,69.1
603,3=Cirrhosis,65,m,41.620195,102.9,40.0,54.0,13.0,7.50,5.367053,70.0,107.0,79.0

In [26]:
print("DataFrame after filling null PROT values:")
cleaned_df.loc[prot_null_indices]

DataFrame after filling null PROT values:

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
590,3=Cirrhosis,46,m,20.0,11.3,62.0,113.0,254.0,1.48,5.367053,114.0,138.0,69.1